@media (max-width: 1301px) {
    .features__top, .activity__top {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px
      }
      .activity__slider  .slick-arrow.slick-prev{
        right: 9%;
      }

}



@media (max-width: 1124px) {
    .main-block__right-side {
        right: 5%;
    }
}

@media (max-width: 1096px) {
    .marketplace__img_2{
        left: -75%;
    }
    .marketplace__img_3 {
        bottom: -80%;
        left: 0%;
      }
}


@media (max-width: 952px) {
    .marketplace__img_2, .marketplace__img_3{
        display: none;
    }
    .marketplace__img_1{
        right: 0;
        top: -10%;
        opacity: 0.6;
    }
    .marketplace{
        padding: 120px 0 150px 0;
    }
}


@media (max-width: 900px) {
    .main-block__img img{
        opacity: 0.3;
    }
    .main-block__img img:hover{
        opacity: 0.1;
    }
    .features__slider .slick-arrow.slick-prev{
        right: 22%;
    }
    .main-block__left-side{
        flex: 0 1 100%;
    }

    .footer__community,.footer__menu  {
        margin: 0 70px 0 0;
    }
}


@media (max-width: 840px) {
    .marketplace__img_1{
        display: none;
    }
    .marketplace__img_3{
        display: block;
        bottom: 35%;
        left: 0;
    }
}


@media (max-width: 768px) {
    .activity {
        padding: 50px 0;
      }
      .footer__community,.footer__menu  {
        margin: 0;
    }
    .footer__contant{
        flex-direction: column;
        gap: 30px;
    }
    .footer {
        padding: 50px 0;
    }
}

@media (max-width: 684px) {
    .main-block__right-side {
        right: 2%;
        flex: 0 1 100%;
    }
    .feedback {
        padding: 0 0 70px 0;
    }
    
}

@media (max-width: 584px){
    .marketplace__right-side {
        display: none;
    }
    .marketplace__left-side{
        flex: 0 1 100%;
    }
    .marketplace{
        padding: 100px 0;
    }
}


@media (max-width: 540px) {
    .activity__top {
        margin: 0 0 50px 0;
    }
}
@media (max-width: 512px) {
    .main-block__right-side {
        top: 50%;
        transform: translateY(-50%);
    }
    .main-block__statistics {
        gap: 25px;
      }
    
}

@media (max-width: 468px) {
    .main-block__title {
        font-size: 60px;
    }
    .main-block__statistics {
        gap: 10px;
        flex-wrap: wrap;
      }
    .main-block__statistics__item{
        flex: 0 1 100%;
        text-align: center;
    }
    .main-block__left-side{
        padding: 70px 0;
    }
    .title_fz48{
        font-size: 40px;
    }
}

@media (max-width: 400px) {
    .form {
        flex-direction: column;
        gap: 20px;
    }
    .form__btn{
        margin: 0;
    }
    .form__btn:hover{
        transform: translateY(-3px);
    }
    .form__input {
        padding: 26px 40px ;
    }
}


@media (max-width: 385px) {
    .main-block__right-side {
        top: 30%;
        transform: translateY(-30%);
    }
    .main-block__title {
        font-size: 50px;
    }
    .title {
        font-size: 25px;
    }
    .marketplace__left-side>*:not(:last-child){
        margin: 0 0 30px 0;
    }
    .marketplace{
        padding: 70px 0;
    }
    .footer__link:not(:last-child){
        margin: 0 25px 30px 0;
      }
}