* {
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
}

 html{
  scroll-behavior: smooth;
} 

body{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.75);
/*   background: linear-gradient(108.13deg, #320000 1%, #0F0323 37.66%, #322204 72.27%, #000230 98.74%); */
  
}

a{
  text-decoration: none;
  color: inherit;
}

.container{
  max-width: 1130px;
  padding: 0 10px;
  margin: 0 auto;
}

.ibg{
  position: relative;
}
.ibg img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.wrapper{
  background: linear-gradient(108.13deg, #320000 1%, #0F0323 37.66%, #322204 72.27%, #000230 98.74%);
}
.get-more {
  display: inline-block;
  position: relative;
  transition: all .5s;
  padding-right: 50px;
}
.get-more:hover{
  color: #FDC500;
}
.get-more::after{
  content: "";
  background: url("../img/main-block/arrow.svg");
  position: absolute;
  top: 50%;
  right: 0%;
  width: 35px;
  height: 16px;
  transform: translateY(-50%);
}

.title {
  font-family: 'Josefin Sans';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.72;
  
}
.title_fz48{
  font-size: 48px;
  line-height: 1.3;
}
.header {}
.header__container {
  max-width: 1330px;
  padding: 0 10px;
  height: 100px;
  display: flex;
  align-items: center;
}
.header__logo {
  font-family: 'Josefin Sans';
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  color: #FFFFFF;
}
.header__logo span{
  color: #FEDB62;
}
.main {}
/* ------main-block----------------- */

.main-block {
  
}
.main-block__container {
  position: relative;
}
.main-block__contant {
  display: flex;
  
}
.main-block__left-side {
  flex: 0 1 490px;
  padding: 90px 0 170px 0;
  position: relative;
  z-index: 1;
  

}
.main-block__text {
  font-family: 'Josefin Sans';
  font-weight: 600;
  font-size: 24px;
  line-height: 1.38;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin: 0 0 25px 0;
  animation-name: leftToRightlev1;
  animation-duration: 2.5s;
  animation-delay: .7s;
  animation-timing-function: easy-out;
  animation-fill-mode: backwards;
}
.main-block__title {
  font-family: 'Josefin Sans';
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
  letter-spacing: 0.1em;
  margin: 0 0 25px 0;
  animation-name: leftToRightlev1;
  animation-duration: 2.5s;
  animation-delay: .7s;
  animation-timing-function: easy-out;
  animation-fill-mode: backwards;
}
.main-block__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: -0.02em;
  margin: 0 0 30px 0;
  animation-name: leftToRightlev2;
  animation-duration: 2.5s;
  animation-delay: .7s;
  animation-timing-function: easy-out;
  animation-fill-mode: backwards;
}
.main-block__get-more {
  margin: 0 0 70px 0;
  animation-name: leftToRightlev3;
  animation-duration: 2.5s;
  animation-delay: .7s;
  animation-timing-function: easy-out;
  animation-fill-mode: backwards;
}


.main-block__statistics {
  display: flex;
  gap: 45px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
  animation-name: textUp;
  animation-duration: 2.5s;
  animation-delay: .7s;
  animation-timing-function: easy-out;
  animation-fill-mode: backwards;
}

.main-block__span{
  font-weight: 300;
}
.main-block__span:not(:last-child){
  margin-right: 40px;
}
.main-block__right-side {
  position: absolute;
  flex: 0 1 50%;
  top:  -10%;
  right: -5%;
  
}

.main-block__img{

}
.main-block__img img{
  max-width: 100%;
}


/* ---------------features-------------- */
.features {
  padding: 0 10px 75px 10px;
  overflow: hidden;
  
}
.features__container {
  padding-left: calc( (100% - 1130px) /2 + 10px)
}

.features__top {
  display: flex;
  align-items: flex-end;
  column-gap: 500px;
  
}
.features__title {}

.features__get-more {}

.features__contant {
  padding: 30px 0 0 0;
}
.features__slider {
  margin: 0 -15px;
  position: relative;
  
}

.features__item {
 padding: 0 15px;
 transition: all .3s ease-in;
}
.features__item:hover{
  transform:  scale(0.98);
}
.card-features {

}
.card-features__wrapper{
  flex: 0 1 255px;
  /* max-width: 255px; */
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  overflow: hidden;
  cursor: pointer;
  
}

.card-features__top {
  padding: 0 0 87% 0;
  
}

.card-features__body {
  font-family: 'Josefin Sans';
  line-height: 1;
  padding: 15px 10px 10px 10px;
  
}
.card-features__title {
  margin: 0 0 12px 0;
}
.card-features__subtitle {
  font-weight: 400;
  font-size: 12px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.6);
  margin: 0 0 20px 0;
}
.card-features__price {
  display: flex;
  color: #FFFFFF;
  margin: 0 0 20px 0;
  justify-content: space-between;
}
.card-features__price-name {
  font-weight: 400;
  font-size: 12px;
  text-transform: capitalize;
  
}
.card-features__price-num {

}
.price-num{
  font-size: 16px;
  padding-left: 20px;
  position: relative;
}
.price-num::before{
  content: "";
  background: url("../img/features/price.png");
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 15px;
  height: 24px;
}
.card-features__purchase {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-features__icon  {
  
}
.card-features__btn {
  padding: 5px 17px;
  background: #FDC500;
  border-radius: 3px;
  font-family: 'Montserrat';
  line-height: 1.2;
  text-align: center;
  color: #000000;
  transition: all .3s ease-in 0s;
}

.card-features__btn:hover{
  background: #a7850b;
  transform: translateY(-3px);
}
.card-features__btn:active{
  transform: translateY(0px);
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.1))
}

.features__slider .slick-arrow{
  font-size: 0;
  line-height: 0;
  position: absolute;
  border: none;
  width: 12px;
  height: 21px;
  top: -13.5%;
  right: 13%;
  cursor: pointer;
}
.features__slider .slick-arrow.slick-prev{
  background: url("../img/features/left-arrow.svg") 0 0 / 100% no-repeat;
  right: 17%;
}
.features__slider .slick-arrow.slick-next{
  background: url("../img/features/right-arrow.svg") 0 0 / 100% no-repeat;
}

/* ----------feedback-------------------- */

.feedback {
  padding: 75px 0 150px 0;
}
.feedback__container {}

.feedback__contant {
  max-width: 715px;
  text-align: center;
  margin: 0 auto;
}
.feedback__top {}
.feedback__title {
  margin: 0 0 5px 0;
}

.feedback__subtitle {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  margin: 0 0 40px 0;
}
.feedback__form {
  
}
.form {
  display: flex;
}
.form__input {
  width: 100%;
  flex: 0 1 auto;
  padding: 26px 105px 26px 40px;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px 50px 50px 50px;
  background: transparent;
  color: rgba(255, 255, 255, 0.5);
  outline: none;
}
.form__input:focus{
  box-shadow: 0px 0px 4px rgba(255, 255, 255);
}
.form__btn {
  padding: 26px 31px;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.75);
  transition: all .3s ease-in 0s;
  border: none;
  
  margin-left: -100px;
}

.form__btn:hover{
  
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  background: rgba(0, 0, 0);
  
}


/* -----marketplace------------ */

.marketplace {
  padding: 190px 0 335px 0;
  background: rgba(255, 255, 255, 0.07);
  overflow: hidden;
}
.marketplace__container {}

.marketplace__contant {
  display: flex;
}
.marketplace__left-side {
  flex: 0 1 650px;
  position: relative;
  z-index: 3;
}
.marketplace__title {
  margin: 0 0 35px 0;
}

.marketplace__subtitle {
  max-width: 485px;
  margin: 0 0 70px 0;
}
.marketplace__get-more {}

.marketplace__right-side {
  flex: 0 1 50%;
  position: relative;
}
.marketplace__img {
  position: absolute;
}
.marketplace__img img{
  max-width: 100%;
}
.marketplace__img_1 {
  top: -40%;
  right: -10%;
}
.marketplace__img_2 {
  top: 65%;
  left: -35%;
}
.marketplace__img_3 {
  bottom: -65%;
  left: 22%;
}


.activity {
  padding: 105px 0 125px 0;
}
.activity__container {}

.activity__top {
  padding-right: 76px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 0 85px 0;
}
.features__title {}

.features__get-more {}

.activity__body {}
.activity__slider {
  display: flex;
  margin: 0 -15px;
}
.activity__column {
  flex: 0 1 33.333%;
  padding: 0 15px;
}
.activity__item {}
.item__activity {}
.item__activity__img {
  border-radius: 8px;
  overflow: hidden;
  padding: 0 0 87% 0;
  margin: 0 0 20px 0;
}

.item__activity__contant {}
.item__activity__contant>*:not(:last-child) {
  margin: 0 0 15px 0;
}
.item__activity__text {}
.card-features__price-num {}

.activity__slider  .slick-arrow{
  font-size: 0;
  line-height: 0;
  position: absolute;
  border: none;
  width: 12px;
  height: 21px;
  top: -25.5%;
  right: 2%;
  cursor: pointer;
}
.activity__slider  .slick-arrow.slick-prev{
  background: url("../img/features/left-arrow.svg") 0 0 / 100% no-repeat;
  right: 5%;
}
.activity__slider  .slick-arrow.slick-next{
  background: url("../img/features/right-arrow.svg") 0 0 / 100% no-repeat;
}


.footer {
  padding: 75px 0 90px 0;
  border-top: 1px solid #958F8F;
}
.footer__container {}

.footer__contant {
  display: flex;
}
.footer__community {
  margin: 0 160px 0 0;
}
.footer__community-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin: 0 0 25px 0;
}
.footer__social-network {
  margin: 0 0 -30px 0;
}
.footer__link {
  display: inline-flex;
  width: 55px;
  height: 55px;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.35);
  border-radius: 4px;
  transition: all .3s ease-in 0s;
  
}
.footer__link:not(:last-child){
  margin: 0 15px 30px 0;
}
.footer__link:hover{
  background: #FDC500;
  transform: scale(1.1);
}
.footer__social-network:hover .footer__link:not(:hover){
  transform: scale(0.92);
}
.footer__menu {
  margin: 0 130px 0 0;
}
.footer__title {
  font-size: 16px;
  line-height: 2.1;
  text-transform: capitalize;
  color: #FFFFFF;
  margin: 0 0 10px 0;
}
.footer__list {}

.list-footer {}
.list-footer__item {}
.list-footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.1;
  text-transform: capitalize;
  color: #FFFFFF;
  transition: all .3s ease-in 0s;
}
.list-footer__link:hover{
  color: #FDC500;
}
.footer__info {}

.icon{

}